.singleproduct-grid {
  margin: auto;
  margin-top: 90px;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
  justify-items: center;
  align-items: center;
  overflow: scroll;
}

img.img-sprod {
  height: 40rem;
  width: 30rem;
}

.rating-row.white-rating {
  background-color: var(--white);
  border: 1px solid var(--light-grey);
}
.prod-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-section {
  margin-top: 0;
}
